<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML Deployment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
  <div class="center">
  <h1>Detect face masks</h1>
  <h3>Please upload image or video</h3>

     <!-- Main Input For Receiving Query to our ML -->

    	<form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <button type="submit" class="btn btn-primary btn-block btn-large">Detect</button>
    </form>

 </div>
</body>
</html>